# Whitelist
.minecraft/**

## instance/0xUDF
instance.cfg
mmc-pack.json
flame
natives

## Config
!.minecraft/config/
!.minecraft/config/**
.minecraft/config/jei
.minecraft/config/jei/**
!.minecraft/defaultconfigs/
!.minecraft/defaultconfigs/**

## KubeJS
!.minecraft/kubejs/
!.minecraft/kubejs/**
.minecraft/kubejs/README.txt
.minecraft/kubejs/exported
.minecraft/kubejs/probe

## Resources
!.minecraft/local/
!.minecraft/local/**
!.minecraft/multiblocked/
!.minecraft/multiblocked/**
