**
!.gitignore

## Config
!config/
!config/**
config/jei/
config/jei/**
config/skyblockbuilder/data

!defaultconfigs/
!defaultconfigs/**

!multiblocked/
!multiblocked/**

!schematics/
!schematics/**
schematics/uploaded

!LICENSE
!README.md

## KubeJS
!kubejs/
!kubejs/**
kubejs/README.txt
kubejs/exported
kubejs/probe
kubejs/ponder.json
kubejs/config/probejs.json