# Whitelist
.minecraft/**

## instance/0xUDF
instance.cfg
mmc-pack.json
flame
natives

## Config
!.minecraft/config/
!.minecraft/config/**
.minecraft/config/sodium-extra-options.json
.minecraft/config/jei
.minecraft/config/jei/**
.minecraft/config/skyblockbuilder/data
.minecraft/config/skyblockbuilder/data/**
!.minecraft/defaultconfigs/
!.minecraft/defaultconfigs/**

## KubeJS
!.minecraft/kubejs/
!.minecraft/kubejs/**
.minecraft/kubejs/README.txt
.minecraft/kubejs/exported
.minecraft/kubejs/probe
.minecraft/kubejs/config/probejs.json

## Resources
!.minecraft/multiblocked/
!.minecraft/multiblocked/**
